body{
    background-image: url('../img.jpg');
    margin:0;
}

.container{
    width: 50%;
    margin:auto;
    background-color: #1f2833;
    color: #c5c6c7;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 10px;
}